/* login */
QWidget {
    font-family: "Microsoft YaHei";
}
QTableWidget{
    border:1px solid #BDC9FF;
    font:bold 9pt "Microsoft YaHei";
    background-color: rgb(255,255,255);
}
QTableWidget QHeaderView::section {
    min-height:25px;
    min-width: 73px;
    /* text-align: left; */
    /* padding-left:3px;
    padding-right:3px;	 */
    background-color: rgb(255,255,255);
    /* background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #fefefe,stop:1 #F0F0F0); */
}
QTableWidget QHeaderView::section:first{
    border-bottom: 1px solid #BDC9FF;
    border-top: 0;
    border-left:0;
}
QTableWidget QHeaderView::section:last{
    border-bottom: 1px solid #BDC9FF;
    border-top: 0;
    border-right:0;
    border-left:1px solid #BDC9FF;	
}
QTableWidget::item:hover {
	color: #000000;
	background: #EFEFEF; 
}
QTableWidget::item:selected {
	color: #000000;
	background: #C0DAFF; 
}

QTreeView {
    padding: 5px;
    outline: 0px;
    border: none;
    show-decoration-selected: 1;
    background-color: white;
}
QTreeView::item {
    height: 25px;
    border: none;
    background-color: transparent;  
	text-align:center;
}
/*QTreeView::branch {
     background-color: transparent;   
}*/
/* QTreeView::branch:closed:has-children:!has-siblings, 
QTreeView::branch:closed:has-children:has-siblings {
    image: url(:/icon/Resources/icon/947.png);
}
QTreeView::branch:open:has-children:!has-siblings, 
QTreeView::branch:open:has-children:has-siblings {
    image: url(:/icon/Resources/icon/674.png);
}  */
QTreeView::item:hover, QTreeView::branch:hover {
	background-color: rgb(239,239,239);
}
QTreeView::item:selected, QTreeView::branch:selected {
    background-color: rgb(192,218,255);
}

QWidget#login {
    min-width: 350px;
    min-height: 400px;
    max-width: 450px;
    max-height: 600px;
    background-color: rgb(111, 119, 124);
    /* image:url(); */
}

QLabel#titleLogin {
    color: rgb(0,204,255);
    font : 20px "Microsoft YaHei";
}
QLineEdit#pwdLe,
QLineEdit#userLe,
QLineEdit#accountLe,
QLineEdit#emailLe {    
    min-width: 250px;
    min-height: 40px;
    max-width: 250px;
    max-height: 40px;
    padding-left: 40px;
    padding-right: 10px;
    font-size: 20px;
    background-color: #7F8488;
    border: 1px solid white;
    border-radius: 20px;
}
QLineEdit#accountLe,
QLineEdit#emailLe {    
    padding-left: 10px;
}
QLineEdit#pwdLe:focus,
QLineEdit#userLe:focus,
QLineEdit#accountLe:focus,
QLineEdit#emailLe:focus,
QLineEdit#pwdLe:hover,
QLineEdit#userLe:hover,
QLineEdit#accountLe:hover,
QLineEdit#emailLe:hover {
    background-color: rgb(145, 178, 206);
}
QLineEdit#pwdLe QPushButton#more {
    /* border: 0; */
    image: url(:/login/Resources/images/16.png);
}
QLineEdit#userLe QPushButton#more {
    /* border: 0; */
    image:url(:/login/Resources/images/1.png);
}

QPushButton#loginBtn{
    height: 30px;
    width: 200px;
    font-size: 16px ;
	color:rgb(0,105,203);
	background-color:rgba(255,255,255);
	border:1px solid rgba(24,112,211);
	border-radius :15px;
}
QPushButton#loginBtn:hover{
	color:rgb(255,255,255);
	background-color:rgba(19,143,229);
	border:1px solid rgb(19,143,229);
}
QPushButton#loginBtn:pressed{
	color:rgb(255,255,255);
	background-color:rgb(24,112,211);
	border:1px solid rgb(24,112,211);
}

QCheckBox {
    color: white;
    font-size: 15px ;
}
QPushButton#accuntNextBtn,
QPushButton#emailPrevBtn,
QPushButton#emailNextBtn,
QPushButton#returnBtn,
QPushButton#forgotPwdBtn{
    border: 0;
    height: 30px;
    width: 250px;
    font-size: 16px ;
    color:rgb(255,255,255);
}

QPushButton#accuntNextBtn:hover,
QPushButton#emailPrevBtn:hover,
QPushButton#emailNextBtn:hover,
QPushButton#returnBtn:hover,
QPushButton#forgotPwdBtn:hover{
	color:rgb(19,143,229);
}

QPushButton#accuntNextBtn:pressed,
QPushButton#emailPrevBtn:pressed,
QPushButton#emailNextBtn:pressed,
QPushButton#returnBtn:pressed,
QPushButton#forgotPwdBtn:pressed{
	color:rgb(5, 80, 121);
}

QLabel#title,
QLabel#title_2,
QLabel#title_3 {
    min-height: 50px;
    max-height: 50px;
    font:bold 20px "Microsoft YaHei";
    color: rgb(0,204,255);
}

QLabel#tip,
QLabel#tip_2,
QLabel#tip_3,
QLabel#tip_4 {
    font: 20px "Microsoft YaHei";
    color: #E6D82C;
}
QWidget#returnWidget{    
   max-height: 70px;
}
QStackedWidget#stackedWidget {
    max-height: 400px;
}

/* menu */
QWidget#MainWindow QWidget#menu {
    max-width: 70px;
    min-width: 70px;
    background-color: #0A64BF; 
}

QWidget#MainWindow QWidget#menu QPushButton {
    height: 50px;
    width: 50px;
    border: 0;
}

QWidget#MainWindow QWidget#menu QPushButton#btn_me {
    border-radius: 25px;
    background-color: #E6D82C;
}
QWidget#MainWindow QWidget#menu QPushButton#btn_chart {
    image:url(:/icon/Resources/images/4.png);
}
QWidget#MainWindow QWidget#menu QPushButton#btn_chart:hover {
    image:url(:/icon/Resources/images/41.png);
}
QWidget#MainWindow QWidget#menu QPushButton#btn_chart:pressed {
    image:url(:/icon/Resources/images/41.png);
}

QWidget#MainWindow QWidget#menu QPushButton#btn_contacts {
    image:url(:/icon/Resources/images/3.png);
}
QWidget#MainWindow QWidget#menu QPushButton#btn_contacts:hover {
    image:url(:/icon/Resources/images/31.png);
}
QWidget#MainWindow QWidget#menu QPushButton#btn_contacts:pressed {
    image:url(:/icon/Resources/images/31.png);
}

QWidget#MainWindow QWidget#menu QPushButton#btn_videoIVW {
    image:url(:/icon/Resources/images/5.png);
}
QWidget#MainWindow QWidget#menu QPushButton#btn_videoIVW:hover {
    image:url(:/icon/Resources/images/51.png);
}
QWidget#MainWindow QWidget#menu QPushButton#btn_videoIVW:pressed {
    image:url(:/icon/Resources/images/51.png);
}

QWidget#PersonalCenter  QWidget#widget {
    background-color: #0093FF;
}
QWidget#PersonalCenter  QWidget#widget QLabel{
    font-size: 30px;
    color: white;
}

QWidget#PersonalCenter  QWidget#widget QStackedWidget#personStackedWidget {
    background-color: white;
}

QWidget#PersonalCenter  QWidget#widget QStackedWidget#personStackedWidget QLabel{
    font-size: 20px;
    color: #000000;
}
QWidget#PersonalCenter  QWidget#widget QStackedWidget#personStackedWidget QPushButton {
    height: 100px;
    width: 100px;
    border: 0;
    border-radius: 50px;
}

QWidget#PersonalCenter  QWidget#widget QStackedWidget#personStackedWidget QPushButton#btn_info {  
    image:url(:/icon/Resources/images/u03.png);
}
QWidget#PersonalCenter  QWidget#widget QStackedWidget#personStackedWidget QPushButton#btn_email {   
    image:url(:/icon/Resources/images/u01.png);
}
QWidget#PersonalCenter  QWidget#widget QStackedWidget#personStackedWidget QPushButton#btn_pwd {   
    image:url(:/icon/Resources/images/u02.png);
}
